<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>게시글 상세 화면sb</title>
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
	<div class="container">
		<h2>게시글 상세 화면</h2>
	    <form id="frm" method="post">
	    	<table class="board_detail">
				<colgroup>
					<col width="15%"/>
					<col width="35%"/>
					<col width="15%"/>
					<col width="35%"/>
				</colgroup>
				<caption>게시글 상세내용</caption>
				<tbody>
					<tr>
						<th scope="row">글 번호</th>
						<td th:text="${'No. '+board.boardIdx}"></td>
						<th scope="row">조회수</th>
						<td th:text="${board.hitCnt }"></td>
					</tr>
					<tr>
						<th scope="row">작성자</th>
						<td th:text="${board.creatorId }"></td>
						<th scope="row">작성일</th>
						<td th:text="${board.createdDatetime }"></td>
					</tr>
					<tr>
						<th scope="row">제목</th>
						<td colspan="3"><input type="text" id="title" name="title" th:value="${board.title }"/></td>
					</tr>
					<tr>
						<td colspan="4" class="view_text">
							<textarea title="내용" id="contents" name="contents" th:text="${board.contents }"></textarea>
						</td>
					</tr>
				</tbody>
			</table>
			<input type="hidden" id="boardIdx" name="boardIdx" th:value="${board.boardIdx }">
		</form>
		<div class ="file_list">
			<a th:each = "file : ${board.fileList}" th:href = "@{/board/downloadBoardFile.do(idx=${file.idx} , boardIdx=${file.boardIdx} )}" 
			   th:text = "|${file.originalFileName} (${file.fileSize} kb)|"></a>
		</div>
		<a href="#this" id="list" class="btn">목록으로</a>
		<a href="#this" id="edit" class="btn">수정하기</a>
		<a href="#this" id="delete" class="btn">삭제하기</a>
	</div>
    <div class="container">
    	<h2>박스오피스 순위</h2>
    	<table class="board_list">
	        <colgroup>
	            <col width="15%"/>
	            <col width="*"/>
	            <col width="15%"/>
	            <col width="20%"/>
	        </colgroup>
	        <thead>
	            <tr>
	                <th scope="col">순위</th>
	                <th scope="col">제목</th>
	                <th scope="col">관객수</th>
	                <th scope="col">개봉일</th>
	            </tr>
	        </thead>
	        <tbody>
	        	<tr th:if="${#lists.size(dailyBoxOfficeResult)} > 0" th:each="list : ${dailyBoxOfficeResult}">
	        		<td th:text="${list.rank}"> </td>
	        		<td class="title" th:text="${list.movieNm}"></td>
	        		<!-- <td class="title"><a th:href="@{/board/openBoardDetail.do(boardIdx=${list.boardIdx})}"  th:text="${list.title}"></a></td> --><!-- 이렇게해도 무관 -->
	        		<td th:text="${list.audiCnt}"></td>
	        		<td th:text="${list.openDt}"></td>
	        	</tr> 
	        	<tr th:unless="${#lists.size(dailyBoxOfficeResult)} > 0">
	        		<td colspan="4">조회된 결과가 없습니다.</td>
	        	</tr>
	        </tbody>
	    </table>
    </div>	
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#list").on("click", function(){
				location.href = "/board/openBoardList.do";
			});
			
			$("#edit").on("click", function(){
				//var frm = $("#frm")[0];
				$('#frm')[0].action = "/board/updateBoard.do";
				$('#frm')[0].submit();
			});
			
			$("#delete").on("click", function(){
				var frm = $("#frm")[0];
				frm.action = "/board/deleteBoard.do";
				frm.submit();
			});
		});
		
		
	</script>
</body>
</html>