<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
		<title>항공편 검색</title>
		<link rel="stylesheet" th:href="@{/css/style.css}"/>
	</head>
	<body>
		<div class="container">
			<form id="frm" name="frm" method="post" action = "/flight/flightList.do">
				<table class="board_detail">
					<thead>
						<tr>
							<td>출발지</td>
							<td><input type="text" th:value="${searchParam.srchDepartureAirportFsCode}" id="srchDepartureAirportFsCode" name="srchDepartureAirportFsCode" placeholder="도시 또는 공항" list="choices"/></td>
							<td>도착지</td>
							<td><input type="text" th:value="${searchParam.srchArrivalAirportFsCode}" id="srchArrivalAirportFsCode" name = "srchArrivalAirportFsCode" placeholder="도시 또는 공항" list="choices"/></td>
							<td>가는날</td>
							<td><input type='date' th:value="${searchParam.srchDepartureDay}"  id="srchDepartureDay" name='srchDepartureDay' /></td>
							<td><input type="submit" id="submit" value="항공권검색" class="btn"></td>
						</tr>
					</thead>
				</table>
				<datalist id="choices">
					<option th:each="list : ${airportList}" th:text="|${list.codeNm} ${list.codeNm}|" th:value="${list.code}" th:label="|${list.codeNm} - ${list.extInfo}|"></option>
				</datalist>
			    	<h2>항공편 리스트</h2>
			    	<table class="board_list">
				        <colgroup>
				            <col width="2%"/>
				            <col width="8%"/>
				            <col width="8%"/>
				            <col width="5%"/>
				            <col width="10%"/>
				            <col width="12%"/>
				            <col width="10%"/>
				            <col width="10%"/>
				            <col width="12%"/>
				            <col width="25%"/>
				        </colgroup>
				        <thead>
				            <tr>
				                <th scope="col"></th>
				                <th scope="col" colspan="2">항공사</th>
				                <th scope="col">편명</th>
				                <th scope="col">출발지</th>
				                <th scope="col">출발시간(현지)</th>
				                <th scope="col">비행시간</th>
				                <th scope="col">도착지</th>
				                <th scope="col">도착시간(현지)</th>
				                <!-- <th scope="col">비고</th>--><!-- 코드쉐어일수 도 있기때문에 실제 운항하는 항공사가 어딘지 표시 -->
				                <th scope="col">예약하기</th>
				            </tr>
				        </thead>
				        <tbody>
				        	<tr th:if="${#lists.size(flightList)} > 0" th:each="list : ${flightList}">
				        		<td th:text="${listStat.count}"  > </td>
				        		<td><img id="carrierImg" th:attr="src=${list.imgLoc}" height="50px" width="130px"></td>
				        		<td th:text="${list.carrierName}"> </td>
				        		<td th:text="${list.carrierFlightNumber}"></td>
				        		<td th:text="${list.departureAirportName}"></td>
				        		<td th:text="${list.departureTime}"></td>
				        		<td th:text="${list.elapsedTime}"></td>
				        		<td th:text="${list.arrivalAirportName}"></td>
				        		<td th:text="${list.arrivalTime}"></td>
				        		<!-- <td th:text="비고"></td> -->
				        		<td><a href="#this"  th:attr="onclick=|reservation ('${listStat.index}')|"  class="btn">예약하기</a></td>
				        	</tr> 
				        	<tr th:unless="${#lists.size(flightList)} > 0">
				        		<td colspan="10">조회된 결과가 없습니다.</td>
				        	</tr>
				        </tbody>
				    </table>	
			</form>
			<form id="savForm" name="frm" method="post">
				<input type="hidden" name="carrierName" id = "carrierName">
				<input type="hidden" name="carrierFsCode" id = "carrierFsCode">
				<input type="hidden" name="departureTime" id = "departureTime">
				<input type="hidden" name="arrivalTime" id = "arrivalTime">
				<input type="hidden" name="elapsedTime" id = "elapsedTime">
				<input type="hidden" name="carrierFlightNumber" id = "carrierFlightNumber">
				<input type="hidden" name="departureAirportName" id = "departureAirportName">
				<input type="hidden" name="arrivalAirportName" id = "arrivalAirportName">
				
				<input type="hidden" name="departureAirportFsCode" id = "departureAirportFsCode">
				<input type="hidden" name="arrivalAirportFsCode" id = "arrivalAirportFsCode">
				<input type="hidden" name="departureDay" id = "departureDay">
			</form>
			<a href="/flight/openReserveList.do"  class="btn">나의 항공권 현황</a>
			<a href="/board/openBoardList.do"  class="btn">게시판 바로가기</a>
			
		</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    
	<script type="text/javascript" src="/js/common.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		$("#srchDepartureDay").disableLastDay();
	});
	</script>
	
	<script th:inline = "javascript">
    function reservation (res){
    	var flightList = /*[[ ${flightList} ]]*/;
    	$("#carrierName").attr("value",flightList[res].carrierName);
    	$("#carrierFsCode").attr("value",flightList[res].carrierFsCode);
    	$("#departureAirportFsCode").attr("value",flightList[res].departureAirportFsCode);
    	$("#arrivalAirportFsCode").attr("value",flightList[res].arrivalAirportFsCode);
    	$("#departureTime").attr("value",flightList[res].departureTime);
    	$("#arrivalTime").attr("value",flightList[res].arrivalTime);
    	$("#elapsedTime").attr("value",flightList[res].elapsedTime);
    	$("#carrierFlightNumber").attr("value",flightList[res].carrierFlightNumber);
    	$("#departureAirportName").attr("value",flightList[res].departureAirportName);
    	$("#arrivalAirportName").attr("value",flightList[res].arrivalAirportName);
    	$("#departureDay").attr("value",$("#srchDepartureDay").val());
    	$("#savForm")[0].action = "/flight/openFlightDetail.do";
		$("#savForm")[0].submit();
	}
    
	</script>
	    			
	</body>
</html>