<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>항공권 예약</title>
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<form id="frm" method="post">
	<div class="container">
		<h2>항공권 예약</h2>
	    
	    	<table class="board_detail">
				<colgroup>
					<col width="10%"/>
					<col width="10%"/>
					<col width="10%"/>
					<col width="10%"/>
					<col width="20%"/>
					<col width="10%"/>
					<col width="20%"/>					
				</colgroup>
				<caption>게시글 상세내용</caption>
				<tbody>
					<tr>
						<th scope="row">항공사</th>
						<td><img id="carrierImg" height="50px" width="130px"></td>
						<td th:text="${flightDetail.carrierName}" style="vertical-align: middle;" align="left"></td>
						<th scope="row">출발지</th>
						<td th:text="${flightDetail.departureAirportName}" style="vertical-align: middle;"></td>
						<th scope="row">도착지</th>
						<td th:text="${flightDetail.arrivalAirportName}" style="vertical-align: middle;"></td>
					</tr>
					<tr>
						<th scope="row">비행시간</th>
						<td th:text="${flightDetail.elapsedTime}" colspan="2"></td>
						<th scope="row">출발일시</th>
						<td th:text="${flightDetail.departureTime}"></td>
						<th scope="row">도착일시</th>
						<td th:text="${flightDetail.arrivalTime}"></td>
					</tr>
					<tr>
						<th scope="row">편명</th>
						<td th:text="${flightDetail.carrierFlightNumber}" colspan="5"></td>
					</tr>					
				</tbody>
			</table>
				<input type="hidden" name="carrierName" id = "carrierName">
				<input type="hidden" name="departureTime" id = "departureTime">
				<input type="hidden" name="arrivalTime" id = "arrivalTime">
				<input type="hidden" name="elapsedTime" id = "elapsedTime">
				<input type="hidden" name="carrierFlightNumber" id = "carrierFlightNumber">
				<input type="hidden" name="departureAirportName" id = "departureAirportName">
				<input type="hidden" name="arrivalAirportName" id = "arrivalAirportName">
				<input type="hidden" name="carrierFsCode" id = "carrierFsCode">
			<table class = "board_detail">
	    		<tr>
	    			<th>핸드폰번호</th>
	    			<td><input class="number" type="text" id="mobileNum" name="mobileNum" maxlength="13"  onkeypress="numberChk();" placeholder="번호만 입력" /></td>
	    			<td><a href="#this" id="authCall" class="btn">인증번호 받기</a></td>
	    			<td>인증번호</td>
	    			<td><input type="text" id="authNum" name="authNum"/></td>
	    			<td><a href="#this" id="auth" class="btn">인증하기</a></td>
	    			<td width="60" style="text-align: left;" > <p id ="authConfirm" style="color: red; display: none; text-align: left;"></p> </td>
	    		</tr>
			</table>
		
		<a href="#this" id="list" class="btn">목록으로</a>
		<a href="#this" id="save" class="btn">예약완료하기</a>
	</div>
    </form>
	<form id="srchForm" method="post">
		<!-- 조회조건 넘기기용 -->
		<input type="hidden" name="srchDepartureAirportFsCode" id = "srchDepartureAirportFsCode">
		<input type="hidden" name="srchArrivalAirportFsCode" id = "srchArrivalAirportFsCode">
		<input type="hidden" name="srchDepartureDay" id = "srchDepartureDay">
	</form>    
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="/js/common.js"></script>
	<script type="text/javascript">
	
    var myVar ; 
    function setAuthTimer(){
    	//타이머 만들기 예제 https://sawol-today.tistory.com/396 
    	// https://offbyone.tistory.com/241
    	myVar = setInterval(myTimer, 1000);
    	var time = 120; //인증대기시간
    	var authFlag = "Y";
		$("#authConfirm").show();
    	function myTimer() {
    	  time --;
    	  $("#authConfirm").text(time + "초");
    	  if(time<0){
				clearInterval(myVar);
				$("#authConfirm").text("");
				authFlag = "N";
				time = 120;
			}
    	} 
    }
    
		
		$(document).ready(function(){
			var authFlag = "N";
			var authNum = "";
			imgLocSet();
			
			$("#list").on("click", function(){
				srchFormSet();
				$('#srchForm')[0].action = "/flight/flightList.do";
				$('#srchForm')[0].submit();
			});
			
			$("#save").on("click", function(){
				if(authFlag == "N"){
					alert("인증을 완료하세요");
					return;
				}
				saveFormSet();
				$('#frm')[0].action = "/flight/insertReserve.do";
				$('#frm')[0].submit();
			});
			
			
			$("#authCall").on("click",function(){
				if($("#mobileNum").val()==""){
					alert("인증받을 핸드폰번호 입력하세요");
					$("#mobileNum").focus();
					return;
				}
				$.ajax({
					url : "/flight/auth",
					type :"get",
					data : {"mobileNum": $("#mobileNum").val() },
					success :function(responseData) {
						$("#ajax").remove();
						authNum = responseData;
						clearInterval(myVar);
						authFlag = "N";
						setAuthTimer();
					}
				});
				
			});
			
			$("#auth").on("click", function(){
				if($("#authNum").val() == authNum){
					$("#authConfirm").show();
					$("#authConfirm").text("인증완료");
					clearInterval(myVar);
					authFlag = "Y";
				}else{
					alert("인증실패");
					return;
				}
			});
			
		});
	</script>
	<script th:inline = "javascript">
	function imgLocSet (){
    	var flightDetail = /*[[ ${flightDetail} ]]*/;
    	var carrierFsCode = "/images/carrier/" + flightDetail.carrierFsCode + ".png";
    	carrierFsCode = carrierFsCode.replace("*", "");
    	$("#carrierImg").attr("src",carrierFsCode);
	}
    
    function srchFormSet() {
    	var flightDetail = /*[[ ${flightDetail} ]]*/;
    	$("#srchDepartureAirportFsCode").attr("value", flightDetail.departureAirportFsCode);
    	$("#srchArrivalAirportFsCode").attr("value", flightDetail.arrivalAirportFsCode);
    	$("#srchDepartureDay").attr("value", flightDetail.departureDay);
    }
    
    function saveFormSet() {
    	var flightDetail = /*[[ ${flightDetail} ]]*/;
		$("#carrierName").attr("value",flightDetail.carrierName);
		$("#carrierFlightNumber").attr("value",flightDetail.carrierFlightNumber);
		$("#departureAirportName").attr("value",flightDetail.departureAirportName);
		$("#arrivalAirportName").attr("value",flightDetail.arrivalAirportName);
		$("#elapsedTime").attr("value",flightDetail.elapsedTime);
		$("#departureTime").attr("value",flightDetail.departureTime);
		$("#arrivalTime").attr("value",flightDetail.arrivalTime);
		$("#carrierFsCode").attr("value",flightDetail.carrierFsCode);
    }
    
    function numberChk (){
    	if ( (event.keyCode < 48) || (event.keyCode > 57) && (event.keyCode != 8)){
    		event.returnValue = false;
    	} 
    }
    

    
	</script>
</body>
</html>