<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>게시글 상세 화면</title>
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
	<div class="container">
		<h2>게시글 상세 화면</h2>
	    <form id="frm" method="post">
	    	<table class="board_detail">
				<colgroup>
					<col width="15%"/>
					<col width="35%"/>
					<col width="15%"/>
					<col width="35%"/>
				</colgroup>
				<caption>게시글 상세내용</caption>
				<tbody>
					<tr>
						<th scope="row">글 번호</th>
						<td th:text="${'No. '+board.boardIdx}"></td>
						<th scope="row">조회수</th>
						<td th:text="${board.hitCnt }"></td>
					</tr>
					<tr>
						<th scope="row">작성자</th>
						<td th:text="${board.creatorId }"></td>
						<th scope="row">작성일</th>
						<td th:text="${board.createdDatetime }"></td>
					</tr>
					<tr>
						<th scope="row">제목</th>
						<td colspan="3"><input type="text" id="title" name="title" th:value="${board.title }"/></td>
					</tr>
					<tr>
						<td colspan="4" class="view_text">
							<textarea title="내용" id="contents" name="contents" th:text="${board.contents }"></textarea>
						</td>
					</tr>
				</tbody>
			</table>
			<input type="hidden" id="boardIdx" name="boardIdx" th:value="${board.boardIdx }">
			<input type="hidden" id="method" name = "_method"/> <!-- 컨트롤러에서 http 메소드로 delete 나 put을 쓸때 추가해줌. HiddenHttpMethodFilter의 구분자정도?-->
		</form>
		<div class ="file_list">
			<a th:each = "file : ${board.fileList}" th:href = "@{/jpa/board/file(idx=${file.idx} , boardIdx=${board.boardIdx} )}" 
			   th:text = "|${file.originalFileName} (${#numbers.formatInteger(file.fileSize/1000 ,1,'DEFAULT')  } kb)|"></a>
		</div>
		<a href="#this" id="list" class="btn">목록으로</a>
		<a href="#this" id="edit" class="btn">수정하기</a>
		<a href="#this" id="delete" class="btn">삭제하기</a>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			var boardIdx = $("#boardIdx").val();
			
			$("#list").on("click", function(){
				location.href = "/jpa/board";
			});
			
			$("#edit").on("click", function(){
				//var frm = $("#frm")[0];
				$("#method").val("put");				
				$('#frm')[0].action = "/jpa/board/"+boardIdx;
				$('#frm')[0].submit();
			});
			
			$("#delete").on("click", function(){
				$("#method").val("delete");
				var frm = $("#frm")[0];
				frm.action = "/jpa/board/"+boardIdx;
				frm.submit();
			});
		});
		
		
	</script>
</body>
</html>