<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
		<title>나의 예약 현황</title>
		<link rel="stylesheet" th:href="@{/css/style.css}"/>
	</head>
	<body>
		<div class="container">
			<form id="frm" name="frm" method="post" action = "/flight/flightList.do">
		    	<h2>항공권 예약 현황</h2>
		    	<table class="board_list">
			        <colgroup>
			            <col width="5%"/>
			            <col width="5%"/>
			            <col width="5%"/>
			            <col width="5%"/>
			            <col width="5%"/>
			            <col width="9%"/>
			            <col width="10%"/>
			            <col width="5%"/>
			            <col width="9%"/>
			        </colgroup>
			        <thead>
			            <tr>
			                <th scope="col">예약번호</th>
			                <th scope="col" colspan="2">항공사</th>
			                <th scope="col">편명</th>
			                <th scope="col">출발지</th>
			                <th scope="col">출발시간(현지)</th>
			                <th scope="col">비행시간</th>
			                <th scope="col">도착지</th>
			                <th scope="col">도착시간(현지)</th>
			            </tr>
			        </thead>
			        <tbody>
			        	<tr th:if="${#lists.size(reserveList)} > 0" th:each="list : ${reserveList}">
			        		<td th:text="${list.reservIdx}"> </td>
			        		<td><img th:attr="id=|carrierImg${listStat.index}|" height="50px" width="130px"></td>
			        		<td th:text="${list.carrierName}"> </td>
			        		<td th:text="${list.carrierFlightNumber}"></td>
			        		<td th:text="${list.departureAirportName}"></td>
			        		<td th:text="${list.departureTime}"></td>
			        		<td th:text="${list.elapsedTime}"></td>
			        		<td th:text="${list.arrivalAirportName}"></td>
			        		<td th:text="${list.arrivalTime}"></td>
			        	</tr> 
			        	<tr th:unless="${#lists.size(reserveList)} > 0">
			        		<td colspan="9">조회된 결과가 없습니다.</td>
			        	</tr>
			        </tbody>
			    </table>	
			</form>
			<a href="#this" id="list" class="btn">항공권검색</a>
		</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    
	<script type="text/javascript" src="/js/common.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		imgLocSet ();
		
		$("#list").on("click", function(){
			location.href = "/flight/flightList.do";
		});
	});
	</script>
	
	<script th:inline = "javascript">
	function imgLocSet (){
    	var reserveList = /*[[ ${reserveList} ]]*/;
    	for (var i = 0; i < reserveList.length; i++) {
    		var carrierFsCode = "/images/carrier/" + reserveList[i].carrierFsCode + ".png";
        	carrierFsCode = carrierFsCode.replace("*", "");
        	var carrierImgId = "#carrierImg" + i;
        	$(carrierImgId).attr("src",carrierFsCode);
		}
	}
	
    
    
	</script>
	    			
	</body>
</html>